# Ignore all files which have 'history' in their name
*history*

# zsh history file
zsh_history
zsh-history
.zshistory

# history file of zcalc
.zcalc_history

# Compiled zsh script files
.zcompdump
*.zwc

# NeoVim config which lives in seperate repo
nvim/

# Zsh prompt which lives in seperate repo
zshgod/

# Git/Github credentials file
.git-credentials
credentials

# Github cli hosts file
hosts.yml

# Termux-auth paasword's file
.termux_authinfo

# Symlink to the shell made by termux
shell

# files which end with '.ttf'
# Needed because termux has 'font.ttf' file to set its font
*.ttf

# Directory with tmux plugins
tmux/.config/tmux/plugins/

# Command history file of tmux
command-history
command_history

