# zsh history file
zsh_history
zsh-history

# NeoVim config which lives in seperate repo
nvim/

# Git/Github credentials file
.git-credentials

# Github cli hosts file
hosts.yml

# Termux-auth paasword's file
.termux_authinfo

# Directory with tmux plugins
tmux/.config/tmux/plugins

