# Ignore all files which have 'history' in their name
*history*

# zsh history file
zsh_history
zsh-history
.zshistory

# history file of zcalc
.zcalc_history

# Compiled zsh script files
.zcompdump
*.zwc

# Git/Github credentials file
.git-credentials
credentials

# Github cli hosts file
hosts.yml

# Termux-auth paasword's file
.termux_authinfo

# Symlink to the shell made by termux
shell

# Directory with tmux plugins
tmux/.config/tmux/plugins/

# Command history file of tmux
command-history
command_history

