[Desktop Entry]
Version=1.0
Type=Application
Name=Mobox cmd
Comment=
Exec=wine-stable cmd
Icon=utilities-terminal
Path=
Terminal=true
StartupNotify=false
